{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Reporte</title>
  <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
  <style>
    p {
      margin: 0;
    }
    img {
      break-inside:avoid;
    }
  </style>
</head>
<body class="py-5">
  <div class="d-grid fixed-top">
    <button id="download-report" class="btn btn-success btn-sm d-none" onclick="ReportePDF()"><strong>Descargar Reporte</strong></button>
    <button class="btn btn-success btn-sm d-none" onclick="ReportePDF2()"><strong>Descargar Reporte 02</strong></button>
  </div>
  <main class="container">
    <div class="d-flex justify-content-between">
      <img class="img-fluid" src="{% static 'img/logo-reporte.png' %}" style="max-width: 50%;">
      <img class="img-fluid" src="{% static 'img/logo-reporte2.png' %}" style="max-width: 50%;">
    </div>
    <p class="text-end mb-3">Reporte hecho por: {{ byuser.first_name }} {{ byuser.last_name }}</p>
    
    <p class="mt-3 text-end">Señores</p>
    <p class="text-end"><strong>{{ consorcio.nombre }}</strong></p>
    <p class="text-end mb-3">PRESENTE</p>
    
    <h2 class="text-center text-uppercase rounded bg-primary bg-gradient text-white p-3 mb-3">Informe de visita<br>{{ fecha|date:'j \d\e F \d\e Y' }}</h2>
    
    <p class="text-end mb-3">Buenos Aires, {{ fecha|date:'j \d\e F \d\e Y' }}</p>
    
    <p class="mb-3">Nos complace dirigirnos a usted a fin de poner a consideración el informe de la visita realizada el dia {{ fecha|date:'j \d\e F \d\e Y' }}</p>
    
    <div id="content">
      
      
    </div>
    <div id="elementH"></div>

    <!-- <div class="text-end mt-3">
      <a class="btn btn-primary" href="javascript:history.back()">Atrás</a>
    </div> -->
  </main>
  <script src="{% static 'libs/jquery/jquery-3.6.1.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      var protocol = window.location.protocol
      var host = window.location.host
      {% for r in reportes %}
        $('#content').append('<div id="{{r.sector|lower|cut:" "}}"></div>')
        var url = protocol+'//'+host+'/reportes/{{r.sector.slug}}-{{fecha|date:"Y-m-d"}}/reporte'
        $('#{{r.sector|lower|cut:" "}}').load(url+' #report-{{r.sector|lower|cut:" "}}');
      {% endfor %}
    });
  </script>
  <script src="{% static 'libs/html2pdf/html2pdf.min.js' %}"></script>
  <script>
    window.onload = function() {
      $('#download-report').removeClass('d-none')
    }
    function ReportePDF() {
      const ReportePDF = document.querySelector('main') // <-- Aquí puedes elegir cualquier elemento del DOM
        html2pdf()
        .set({
          margin: 0.5,
          filename: '{{ consorcio.slug }}-{{ fecha|date:"d-m-Y" }}.pdf',
          image: {
            type: 'jpeg',
              quality: 0.98
          },
          html2canvas: {
              scale: 1, // A mayor escala, mejores gráficos, pero más peso
              letterRendering: true,
          },
          jsPDF: {
              unit: "in",
              format: "letter",
              orientation: 'portrait' // landscape o portrait
          }
        })
        .from(ReportePDF)
        .save()
        .catch(err => console.log(err))
    }
  </script>
  <script src="{% static 'libs/jspdf/jspdf.min.js' %}"></script>
  <script>
    function ReportePDF2() {
      var doc = new jsPDF();
      doc.fromHTML(
        $('main').html(),
        15,
        15,
        {
          'width': 170
        },
        function(dispose) {
          doc.save('{{ consorcio.slug }}-{{ fecha|date:"d-m-Y" }}.pdf')
        }
      )
    }
  </script>
</body>
</html>