{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <title>Reporte</title>
  <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
</head>
<body>
  <main class="container py-5">
    <div class="d-flex justify-content-between">
      <img class="img-fluid" src="{% static 'img/logo-reporte.png' %}" style="max-width: 50%;">
      <img class="img-fluid" src="{% static 'img/logo-reporte2.png' %}" style="max-width: 50%;">
    </div>
    <p class="text-end mb-0">Señores</p>
    <p class="text-end mb-0"><strong>{{ reporte.consorcio }}</strong></p>
    <p class="text-end mb-5">PRESENTE</p>
    
    <h4 class="text-center text-uppercase rounded bg-primary bg-gradient text-white p-3 mb-5">Informe de visita<br>{{ reporte.creacion|date:'j \d\e F \d\e Y' }}</h4>
    
    <p class="text-end mb-3">Buenos Aires, {{ reporte.creacion|date:'j \d\e F \d\e Y' }}</p>
    
    <p class="mb-3">Nos complace dirigirnos a usted a fin de poner a consideración el informe de la visita realizada el dia {{ reporte.creacion|date:'j \d\e F \d\e Y' }}</p>
    
    {% if respuestas %}
    <div id="report-{{ reporte.sector|lower|cut:' ' }}">
      
      <p class="mb-3 bg-secondary bg-opacity-50 rounded p-3"><strong>Sector {{ reporte.sector }}</strong></p>
      
      <ul>
        {% for resp in respuestas %}
        <li>
          
          {% if resp.pregunta.text_informe_prev %}{{ resp.pregunta.text_informe_prev }}{% endif %}
          
          {% if resp.respuesta == 'NO' %}
          <strong>{{ resp.respuesta }}</strong>
          {% endif %}
          
          {% if resp.pregunta.text_informe_post %}{{ resp.pregunta.text_informe_post }}{% endif %}
        </li>
        {% endfor %}
      </ul>
      
      <div class="px-3">
        <p class="mb-3"><strong>Comentarios</strong></p>
        {% for resp in respuestas %}
        <p class="mb-3">
          {{ resp.observaciones }}
        </p>
        {% endfor %}
      </div>
    </div>
    
    <div class="px-3">
      <p class="mb-3"><strong>Imagenes</strong></p>
      {% for resp in respuestas %}
      <div class="row">
        <div class="col-6 col-lg-3 p-1">
          {% if resp.imagen1 %}
          <img class="img-fluid" src="{{ resp.imagen1.url }}" alt="">
          {% endif %}
        </div>
        <div class="col-6 col-lg-3 p-1">
          {% if resp.imagen2 %}
          <img class="img-fluid" src="{{ resp.imagen2.url }}" alt="">
          {% endif %}
        </div>
        <div class="col-6 col-lg-3 p-1">
          {% if resp.imagen3 %}
          <img class="img-fluid" src="{{ resp.imagen3.url }}" alt="">
          {% endif %}
        </div>
        <div class="col-6 col-lg-3 p-1">
          {% if resp.imagen4 %}
          <img class="img-fluid" src="{{ resp.imagen4.url }}" alt="">
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if unidades %}
    <div id="report-{{ reporte.sector|lower|cut:' ' }}">
      
      <p class="mb-3 bg-secondary bg-opacity-50 rounded p-3"><strong>Sector {{ reporte.sector }}</strong></p>
      
      <div class="px-3">
        {% for unidad in unidades %}
        <p class="mb-3"><strong>Unidad: </strong>{{ unidad.unidad }}</p>
        <p class="mb-3"><strong>Comentarios</strong></p>
        <p class="mb-3">
          {{ unidad.observaciones }}
        </p>
        
        {% endfor %}
      </div>
      
    </div>
    
    <div class="px-3">
      <p class="mb-3"><strong>Imagenes</strong></p>
      {% for unidad in unidades %}
      <div class="row">
        <div class="col-12">
          <p class="mb-3"><strong>Unidad: </strong>{{ unidad.unidad }}</p>
        </div>
        <div class="col-6 col-lg-3 p-3">
          {% if unidad.imagen1 %}
          <img class="img-fluid" src="{{ unidad.imagen1.url }}" alt="">
          {% endif %}
        </div>
        <div class="col-6 col-lg-3 p-3">
          {% if unidad.imagen2 %}
          <img class="img-fluid" src="{{ unidad.imagen2.url }}" alt="">
          {% endif %}
        </div>
        <div class="col-6 col-lg-3 p-3">
          {% if unidad.imagen3 %}
          <img class="img-fluid" src="{{ unidad.imagen3.url }}" alt="">
          {% endif %}
        </div>
        <div class="col-6 col-lg-3 p-3">
          {% if unidad.imagen4 %}
          <img class="img-fluid" src="{{ unidad.imagen4.url }}" alt="">
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="text-end">
      <a class="btn btn-primary" href="javascript:history.back()">Atrás</a>
    </div>
  </main>
</body>
</html>