{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ consorcio.nombre }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center display-6 mb-3">Reportes<br><strong></strong>{{ consorcio.nombre }}</strong><br>{{ fecha|date:'j \d\e F \d\e Y' }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-2 offset-xl-5">
      <div class="d-grid gap-2">
        
        <a href="{% url 'reportes_app:reporte-full' slug=consorcio.slug date=fecha %}" class="btn btn-primary mb-4" type="button">Reporte Completo</a>
        
        {% for r in reportes %}
  
        <a href="{% url 'reportes_app:reporte' r.slug %}" class="btn btn-outline-primary" type="button">{{ r.sector }}</a>
        
        {% endfor %}
        
      </div>
    </div>
  </div>
</div>
{% endblock content %}