{% extends 'layout.html' %}
{% load static %}

{% block title %}Cuestionario{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center display-6">{{ cuestionario.consorcio }} - {{ cuestionario.sector }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
      <div class="d-grid gap-2">
        <ul>
          {% for p in preguntas %}
          <li>
            <p>{{ p }}</p>
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {{ form }}
              <button class="btn btn-primary" type="submit">Guardar</button>
            </form>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}