{% extends 'layout.html' %}
{% load static %}

{% block title %}{{ consorcio.nombre }}{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-center display-6 mb-5">{{ consorcio.nombre }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 col-xl-2 offset-xl-5">
      <div class="d-grid gap-2">
        
        {% for s in sectores %}
  
        <a href="{% url 'cuestionarios_app:cuestionario' s.slug %}" class="btn btn-outline-primary" type="button">{{ s }}</a>
          
        {% endfor %}
          
      </div>
    </div>
  </div>
</div>
{% endblock content %}